.form-page {
    width: 340px;
    margin: auto;

    border-radius: 12px;
    box-shadow: 0 0 6px rgb(0 0 0 / 14%);
}

.signin {
    height: 450px;
}

.signup {
    height: 615px;
}

.form-page__container{
    display: flex;
    flex-direction: column;

    height: 100%;
    padding: 50px 30px 30px;
}

.form-page__title {
    font-size: 20px;
    line-height: 20px;
}

.form-page__form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.form-page__inputs {
    margin-top: 24px;
}

.form-page__btns {
    display: flex;
    flex-direction: column;
}

.form-page__link {
    margin: auto;
    margin-top: 14px;

    color: var(--link-blue-color);

    font-size: 11px;
    line-height: 11px;
}

.form-page__link:hover {
    text-decoration-line: underline;
}