---
stylesheets:
  - ../../styles/main.css
---

{{!< page}}
<div class="form-page signin">
  <div class="form-page__container">
    <h1 class="form-page__title">Вход</h1>
    <form class="form-page__form">
      <div class="form-page__inputs">
        {{> "input/input" label="Логин" name="login" type="text" errortext="Неверный логин"}}
        {{> "input/input" label="Пароль" name="password" type="password" errortext="Неверный пароль"}}
      </div>
      <div class="form-page__btns">
        {{> "button/button" text="Авторизоваться"}}
        <a href="signup.hbs" class="form-page__link">Нет аккаунта?</a>
      </div>
    </form>
  </div>
</div>