<div class="add-user__modal">
    <div class="add-user__box">
        <div class="add-user__box-container">
            <div class="add-user__title">
                Добавить пользователя
            </div>
            <div class="add-user__form">
                {{> input label="ID" type="text"}}
                {{> "button/button" text="Добавить"}}
            </div>
            <button class="add-user__cancel">Отмена</button>
        </div>
    </div>
</div>