<div class="chat-box__container">
    <div class="chat-box__header">
        <div class="chat-box__user-info">
            <div class="user-info__avatar">
                <img src="{{useravatar}}" alt="avatar" class="user-info__img">
            </div>
            <p class="user-info__name">{{username}}</p>
        </div>
        <button class="chat-box__settings-btn">
            <div class="settings-btn">
                <div class="btn-point"></div>
                <div class="btn-point btn-point_middle"></div>
                <div class="btn-point"></div>
            </div>
        </button>
    </div>
    <div class="chat-box__main">
        <p class="chat-box__empty">Здесь ещё нет сообщений.</p>
    </div>
    <div class="chat-box__footer">
        <form class="chat-box__form">
            <input type="text" name="message" class="chat-box__input" placeholder="Сообщение">
            <button class="chat-box__btn"></button>
        </form>
    </div>
</div>
