.chat-menu__modal {
    position: fixed;
    z-index: 12;
    top: 0;
    right: 0;
    left: 0;

    visibility: hidden;

    height: 100vh;

    opacity: 0;
}

.chat-menu__modal_active {
    visibility: visible;

    opacity: 1;
}

.chat-menu__box {
    position: absolute;
    top: 65px;
    right: 10px;

    display: flex;

    width: 210px;
    height: 90px;

    border-radius: 12px;
    background: var(--white-color);
    box-shadow: 0 0 6px rgb(0 0 0 / 14%);
}

.chat-menu__box-container {
    margin: auto;
}

.chat-menu__row {
    display: flex;
    align-items: center;

    cursor: pointer;

    font-size: 12px;
    line-height: 14px;
}

.chat-menu__row:last-child {
    margin-top: 16px;
}

.chat-menu__icon {
    position: relative;

    width: 15px;
    height: 15px;

    border: 1.5px solid #3369f3;

    /* margin-right: 15px; */
    border-radius: 50%;
}

.icon-add::before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: inline-block;

    width: 9px;
    height: 1.2px;
    margin: auto;

    content: "";
    transform: rotate(90deg);

    background-color: #3369f3;
}

.icon-add::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: inline-block;

    width: 9px;
    height: 1.2px;
    margin: auto;

    content: "";

    background-color: #3369f3;
}

.icon-delete::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: inline-block;

    width: 9px;
    height: 1.2px;
    margin: auto;

    content: "";
    transform: rotate(45deg);

    background-color: #3369f3;
}

.icon-delete::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: inline-block;

    width: 9px;
    height: 1.2px;
    margin: auto;

    content: "";
    transform: rotate(135deg);

    background-color: #3369f3;
}

.chat-menu__text {
    margin-left: 15px;
}