<div class="chat-menu__modal">
    <div class="chat-menu__box">
        <div class="chat-menu__box-container">
            <div class="chat-menu__row">
                <div class="chat-menu__icon icon-add"></div>
                <p class="chat-menu__text">Добавить пользователя</p>
            </div>
            <div class="chat-menu__row">
                <div class="chat-menu__icon icon-delete"></div>
                <p class="chat-menu__text">Удалить пользователя</p>
            </div>
        </div>
    </div>
</div>