<div class="change-avatar__modal">
    <div class="change-avatar__container">
        <p class="change-avatar__title">Загрузите файл</p>
        <a href="" class="change-avatar__link">Выбрать файл на компьютере</a>
        <div class="change-avatar__error">Ошибка, попробуйте ещё раз</div>
    </div>
</div>