<div class="profile-line">
    <div class="profile__label">{{label}}</div>
    <input name="{{name}}" value="{{value}}" type="text" placeholder="{{placeholder}}" class="profile__value" disabled required>
</div>