.button-wrapper {
    width: 280px;
    margin: auto;
    padding: 12px 0;

    border-radius: 8px;
    background-color: var(--btn-blue-color);

    font-size: 13px;
    line-height: 13px;
}

.button-wrapper:hover {
    background-color: var(--btn-hover-color);
}

.button {
    color: var(--white-color);
}