.input__label {
	margin-top: 16px;

	text-align: left;

	color: var(--light-gray-text-color);

	font-size: 9px;
	line-height: 9px;
}

.input__error {
	position: absolute;
	bottom: -10px;

	color: var(--red-color);

	font-size: 7px;
	font-weight: 400;
	line-height: 8px;
}
