---
stylesheets:
  - ../../styles/main.css
---

{{!< page}}
<a href="../messenger/messenger.hbs" class="profile__back-btn">
    <div class="back-btn"></div>
</a>
<div class="profile">
    <div class="profile__avatar">
        <img src="../../assets/empty-avatar.png" alt="">
    </div>
    <p class="profile__name-hidden"></p>
    <div class="profile__info">
        <div class="profile__info-conainer">
            {{> "profile-line/change-info-line" label="Старый пароль" name="oldPassword" placeholder="Введите старый пароль"}}
            {{> "profile-line/change-info-line" label="Новый пароль" name="newPassword" placeholder="Придумайте пароль"}}
            {{> "profile-line/change-info-line" label="Повторите новый пароль" name="newPassword" placeholder="Повторите пароль"}}
        </div>
    </div>
    <div class="profile__button">
        {{> "button/button" text="Сохранить"}}
    </div>
</div>