---
stylesheets:
  - ../../styles/main.css
---

{{!< page}}
<a href="../messenger/messenger.hbs" class="profile__back-btn">
    <div class="back-btn"></div>
</a>
<div class="profile">
    <div class="profile__avatar">
        <img src="../../assets/empty-avatar.png" alt="">
    </div>
    <p class="profile__name-hidden"></p>
    <div class="profile__info">
        <div class="profile__info-conainer">
            {{> "profile-line/change-info-line" label="Почта" value="pochta@yandex.ru" name="email" placeholder="Укажите почту"}}
            {{> "profile-line/change-info-line" label="Логин" value="ivanivanov" name="login" placeholder="Введите логин"}}
            {{> "profile-line/change-info-line" label="Имя" value="Иван" name="first_name" placeholder="Введите имя"}}
            {{> "profile-line/change-info-line" label="Фамилия" value="Иванов" name="second_name" placeholder="Введите фамилию"}}
            {{> "profile-line/change-info-line" label="Имя в чате" value="Иван" name="display_name" placeholder="Укажите имя для чата"}}
            {{> "profile-line/change-info-line" label="Телефон" value="+7 (909) 967 30 30" name="phone" placeholder="Укажите телефон"}}
        </div>
    </div>
    <div class="profile__button">
        {{> "button/button" text="Сохранить"}}
    </div>
</div>