.chat-menu__modal {
    opacity: 0;
    visibility: hidden;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 12;
}
.chat-menu__modal_active {
    opacity: 1;
    visibility: visible;
}
.chat-menu__box {
    width: 210px;
    height: 90px;
    position: absolute;
    top: 65px;
    right: 10px;
    display: flex;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
    border-radius: 12px;
    background: var(--white-color);
}
.chat-menu__box-container {
    margin: auto;
}
.chat-menu__row {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    cursor: pointer;
}
.chat-menu__row:last-child {
    margin-top: 16px;
}
.chat-menu__icon {
    width: 15px;
    height: 15px;
    position: relative;
    /*margin-right: 15px;*/
    border-radius: 50%;
    border: 1.5px solid #3369F3;
}
.icon-add::before {
    display: inline-block;
    content: "";
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 9px;
    height: 1.2px;
    background-color: #3369F3;
    transform: rotate(90deg);
}
.icon-add::after {
    display: inline-block;
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 9px;
    height: 1.2px;
    background-color: #3369F3;
}
.icon-delete::before {
    display: inline-block;
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 9px;
    height: 1.2px;
    background-color: #3369F3;
    transform: rotate(45deg);
}
.icon-delete::after {
    display: inline-block;
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 9px;
    height: 1.2px;
    background-color: #3369F3;
    transform: rotate(135deg);
}
.chat-menu__text {
    margin-left: 15px;
}