---
stylesheets:
  - ../../styles/main.css
---

{{!< page}}
<div class="messenger">
  <div class="chat-list">
    <div class="chat-list__header">
      <div class="chat-list__profile-link">
        <a href="../profile/profile.hbs" class="profile-link">Профиль</a>
      </div>
      <div class="chat-list__search">
        <input type="search" name="search" placeholder="Поиск" class="search__input">
      </div>
    </div>
    <div class="chat-list__list">
      {{> "chat-list-item/chat-list-item" avatar="../../assets/empty-avatar.png" name="Андрей" lastmessage="Изображение" date="0" count="2"}}
      {{> "chat-list-item/chat-list-item" avatar="../../assets/empty-avatar.png" name="Киноклуб" from="Вы:" lastmessage=" стикер" date="0" count="0"}}
      {{> "chat-list-item/chat-list-item" avatar="../../assets/empty-avatar.png" name="Илья" lastmessage="Друзья, у меня для вас особенный выпуск новостей! Какая-то очень длинная информация" date="0" count="4"}}
      {{> "chat-list-item/chat-list-item" avatar="../../assets/empty-avatar.png" name="Вадим" from="Вы:" lastmessage=" круто!" date="0" count="0"}}
      {{> "chat-list-item/chat-list-item" avatar="../../assets/empty-avatar.png" name="Вадим" from="Вы:" lastmessage=" круто!" date="0" count="10"}}
      {{> "chat-list-item/chat-list-item" avatar="../../assets/empty-avatar.png" name="Вадим" from="Вы:" lastmessage=" круто!" date="0" count="0"}}
      {{> "chat-list-item/chat-list-item" avatar="../../assets/empty-avatar.png" name="Вадим" from="Вы:" lastmessage=" круто!" date="0" count="0"}}
      {{> "chat-list-item/chat-list-item" avatar="../../assets/empty-avatar.png" name="Вадим" from="Вы:" lastmessage=" круто!" date="0" count="0"}}
      {{> "chat-list-item/chat-list-item" avatar="../../assets/empty-avatar.png" name="Вадим" from="Вы:" lastmessage=" круто!" date="0" count="0"}}
      <div class="chat-list__line"></div>
    </div>
  </div>
  <div class="chat-box">
    <p>Выберите чат чтобы отправить сообщение</p>
  </div>
</div>
