.messenger {
	display: flex;

	width: 100vw;
	height: 100vh;
}

.chat-list {
	position: relative;

	overflow: hidden;
	overflow-y: scroll;

	min-width: 310px;

	border-right: 1px solid rgb(234 234 234 / 100%);
	background-color: #fbfbfb;
	scrollbar-width: none;
}

.chat-list::-webkit-scrollbar {
	width: 0;
}

.chat-list__header {
	position: fixed;
	z-index: 5;

	width: 309px;

	background-color: #fbfbfb;
}

.chat-list__profile-link {
	margin: 21px 22px 23px 0;

	text-align: right;
}

.profile-link {
	position: relative;

	color: var(--light-gray-text-color);

	font-size: 12px;
	line-height: 12px;

	background: none;
}

.profile-link:hover {
	color: var(--link-blue-color);
}

.profile-link::after {
	position: absolute;
	top: 0;
	right: -8;
	bottom: 0;

	display: inline-block;

	width: 6px;
	height: 6px;
	margin: auto 0;

	content: '';
	transform: rotate(45deg);

	border-top: 1px solid #999;
	border-right: 1px solid #999;
}

.chat-list__search {
	width: 100%;
	margin: 14px 0;
	padding: 0 10px;
}

.search__input {
	width: 100%;
	height: 32px;

	text-align: center;

	color: var(--light-gray-text-color);
	border-radius: 5px;
	background-color: #efefef;

	font-size: 12px;
	line-height: 12px;
}

.search__input::placeholder {
	color: var(--light-gray-text-color);
}

.search__input:focus {
	padding-left: 12px;

	text-align: left;

	color: rgb(30 30 30 / 100%);
}

.chat-list__list {
	margin-top: 156px;
}

.chat-list__line::after {
	position: absolute;
	left: 0;

	display: block;

	width: 93%;
	height: 1px;
	margin: 0 10px;

	content: '';

	background-color: var(--gray-line-color);
}

.creating-chat__modal {
	position: fixed;
	z-index: 12;
	top: 0;
	right: 0;
	left: 0;

	visibility: hidden;

	height: 100vh;

	opacity: 0;
	background-color: #1e1e1e80;
}

.creating-chat__modal_active {
	position: fixed;
	z-index: 12;
	top: 0;
	right: 0;
	left: 0;

	visibility: visible;

	height: 100vh;

	opacity: 1;
	background-color: #1e1e1e80;
}

.creating-chat__box {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	display: flex;

	width: 320px;
	height: 230px;

	border-radius: 12px;
	background: var(--white-color);
	box-shadow: 0 0 6px rgb(0 0 0 / 14%);
}

.creating-chat__box-container {
	margin: auto;
}

.creating-chat__form {
	display: flex;
	flex-direction: column;
}

.creating-chat__input {
	margin: 30px 0;

	width: 100%;
	height: 37px;

	text-align: center;

	color: var(--light-gray-text-color);
	border-radius: 5px;
	background-color: #efefef;

	font-size: 12px;
	line-height: 12px;
}

.creating-chat__input::placeholder {
	color: var(--light-gray-text-color);
}

.creating-chat__input:focus {
	padding-left: 12px;
	padding-right: 12px;

	color: rgb(30 30 30 / 100%);
}

.creating-chat__link {
	position: relative;

	margin: 20px auto;

	text-align: left;

	font-size: 13px;
	line-height: 13px;

	color: var(--link-blue-color);
	background: none;
}

.creating-chat__link:hover {
	text-decoration-line: underline;
}
