<ul>
    <li>
        <a href="./formpages/signin.hbs">Sign in</a>
    </li>
    <li>
        <a href="./formpages/signup.hbs">Sign up</a>
    </li>
    <li>
        <a href="./messenger/messenger.hbs">Messenger</a>
    </li>
    <li>
        <a href="./profile/profile.hbs">Profile</a>
    </li>
    <li>
        <a href="./errors/404.hbs">Error 404</a>
    </li>
    <li>
        <a href="./errors/500.hbs">Error 5**</a>
    </li>
    <br>
    <li>
        <a href="./messenger/open-chat.hbs">Open chat</a>
    </li>
</ul> 